* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

body {

    margin: 0;
    background: #e8e8e8;
    color: #4e4a4a;
}


#openSys:hover #dateV {
    opacity: 1;
}

#container {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#framie {
    max-width: 1100px;
    height: 100%;
    transition: 0.8s;
    position: relative;
    z-index: 2;
    padding-bottom: 60px;
    left: 1px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background: gray;
    box-shadow: 4px 0 13px -7px #000000;
    animation: fadeEffect 0.8s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#allList {
    display: flex;
    height: 100vh;
    min-width: 360px;
    margin: auto;
    overflow-y: scroll;
    grid-row-gap: 1vh;
    padding: 10px;
    flex-direction: column;
    padding-bottom: 60px;
    color: white;
    text-shadow: 0 .5px 0 #1e1e1e;
    scrollbar-width: none; 
}

#allList::-webkit-scrollbar {
    display: none;
  }

#allList>div>* {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 30%), inset 0px 0px 0px 0.5px #7b7b7b;
}

.allExtra {
    grid-row-gap: .5vh !important;
}

#sensorList {
    -webkit-user-select: none;
    user-select: none;
    display: grid;
    gap: 1vh;
    justify-content: center;
    margin: auto;
    transition: 0.8s ease-out;
}

.clickables:active,
#submitBtn:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transition: 0.1s
}

.slider {
    box-shadow: 5px 5px 5px -5px #333 inset;
    background: #847d7d;
    height: 20px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    overflow: hidden;
}

.sQ {
    position: absolute;
}

.slider::-webkit-meter-bar {
    box-shadow: 0 5px 5px -5px #333 inset;
    height: 20px;
    background: #847d7d;
    border-radius: 5px;
    border: 0;
}


.slider::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #333 inset;
    background: #11962e;
}

.slider::-moz-meter-bar {
    box-shadow: 5px 5px 5px -5px #333 inset;
    height: 20px;
    background: #11962e;
}

.sensorset {
    display: flex;
    justify-items: stretch;
    flex-direction: column;
    background: #847d7d;
    padding: 4.2px;
    flex-wrap: nowrap;
    border-radius: 5px;
    width: 165px;
    overflow: hidden;
    position: relative;
    align-items: stretch;
    cursor: pointer;
}

.response {
    background: #3e88cb;
}

.online {
    background: #2B708E;
}


.btnTile {
    background: #635d5d;
    min-height: 60px;
}

.sensors {
    padding-bottom: 6px;
    overflow-wrap: break-word;
}

.signal {
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: flex-end;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
}

.odd {
    padding-right: 1px;
    overflow-wrap: anywhere;
}

.odd:hover {
    overflow: visible;
}

.even {
    word-spacing: -2px;
    white-space: nowrap;
    align-self: self-end;
}

#opener {
    bottom: 0;
    height: 55px;
    z-index: 2;
    width: 100%;
    position: fixed;
    -webkit-user-select: none;
    user-select: none;
}

.open {
    background: none;
    display: flex;
    max-width: 200px;
    align-items: center;
    margin: auto;
    padding-bottom: 2vh;
    justify-content: space-between;
}

.sidenav {
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: -280px;
    background: #111111d9;
    transition: 0.6s;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.menueItem {
    display: grid;
    justify-content: start;
    grid-template-columns: 25px auto;
    align-items: center;
    cursor: pointer;
}

.numberUnit {
    font-size: 10px;
    color: #818181;
}

.nc {
    word-break: break-all;
}

.sideNbtn {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    font-size: 35px;
    color: #b3b3b3;
}

#openSys {
    left: 20px;
    width: 40px;
}

#closeBtn {
    right: 20px;
}

#menueList {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: .2s;
    width: max-content;
    max-width: 280px;
}

#menueList::-webkit-scrollbar {
    display: none;
}

#menueList div {
    padding: 3px;
    font-size: 17pt;
}

#dateV {
    opacity: 0;
    top: 10px;
    writing-mode: vertical-lr;
    position: fixed;
    pointer-events: none;
}

#sysInfo {
    background: #ffffff17;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    width: 200px;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.syspair {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4px 0 4px;
}

.syspair>div {
    font-size: 10pt !important;
    cursor: pointer;
}

.syspair div:nth-child(1) {
    text-align: end;
    width: 35%;
    padding-right: 5px;
}
#submitBtn {
    height: 20px;
    width: 20px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding-top: 2px;
    color: black;
    box-shadow: 1px 1px 2px 0px #000;
}

.menueWrap {
    transition: .5s;
    height: 85px;
    flex-shrink: 999;
}

.select {
    -webkit-user-select: all;
    user-select: all;
}

input {
    height: 25px;
    width: 84%;
    font-size: 10pt;
    border: 0;
    background: #444444;
    text-align: center;
    color: inherit;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px #333 inset;
}

.input:focus-visible {
    width: inherit;
}

input:focus::placeholder {
    opacity: 0.2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-height: 450px) {
    framie {
        padding-bottom: 40px;
    }

    #opener {
        height: 40px;
    }
}

@media screen and (max-width: 799px) {
    #framie {
        position: absolute;
    }
}

@media screen and (max-width: 450px) {
    #allList {
        grid-row-gap: 5px;
        min-width: unset;
    }

    #opener {
        height: 40px;
    }

    #framie {
        padding-bottom: 40px;
    }

    .allExtra {
        grid-row-gap: 2.5px !important;
    }

    #sensorList {
        gap: 5px;

    }

    .sensors {
        padding-bottom: 2%
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #212121;
        color: #b3b3b3;
    }

    input::placeholder,
    #allList {
        color: #d9d9d9;
    }

    #opener {
        background: #000000a8;
    }

    .slider {
        background: #444444;
    }

    .slider::-webkit-meter-optimum-value {
        background: #12842b;
    }

    .slider::-moz-meter-bar {
        background: #12842b;
    }

    .response {
        background: #495d88 !important;
    }

    .online {
        background: #334B5F !important
    }

    .sensorset:not(.btnTile) {
        background: #333;
    }

    .sensorset:not(.btnTile) {
        background: #444;
    }
}